name: 'Terraform deployment'

on:
  push:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest
    name: Terraform
    defaults:
      run:
        working-directory: './terraform'

    steps:
      - uses: actions/checkout@v6
      - uses: hashicorp/setup-terraform@v3

      - name: Secrets to files
        run: |
          echo '${{ secrets.BACKEND }}' > backend.tfvars
          echo '${{ secrets.YC_SERVICE_AUTHORIZED_KEY_JSON }}' > authorized_key.json
          echo '${{ secrets.TERRAFORM_TFVARS }}' > terraform.tfvars

      - name: Terraform Init
        id: init
        run: terraform init -backend-config=backend.tfvars

      - name: Terraform Validate
        id: validate
        run: terraform validate -no-color

      - name: Terraform Apply
        run: terraform apply -auto-approve -no-color